@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .truncate {
        @apply overflow-hidden text-ellipsis whitespace-nowrap;
    }
    .flags-only {
        max-width: 3rem !important;
    }

    .fls-dropdown-width {
        max-width: fit-content !important;
    }

    .l-mode-only {
        color-scheme: light !important;
    }
}

@layer components {
    .btn-cine-highlight-1 {
        @apply bg-cine-highlight-1;
    }
    
    .badge-cine-highlight-1 {
        @apply bg-cine-highlight-1;
    }

    .datePicker {
        @apply !absolute sm:!fixed;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        .datePicker {
            top: 50% !important;
            left: 50% !important;
            transform: translate(-50%, -50%) !important;
        }
    }
}